<% provide :title, "About" %>

<h1>About the MEMBERS ONLY app</h1>
<p><%= link_to "Exercise", "https://www.theodinproject.com/lessons/authentication", target: 'blank' %> from The Odin Project Curriculum </p>
